<%- include ("../../views/_header") %>
<h1>Delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998025/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.ids%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>win = <%= data.swin%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>kannoi = <%= data.skannoi%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>D611998025 = <%= data.sD611998025%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>id_pontakorn = <%= data.tford%></font></h3>
            </div>

            <a href="/s611998025" class="btn btn-primary"> กลับ </a>
            <a href="/s611998025/deleteNow/<%= data.ids%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
      position: relative;
      left: 30%;
      top: 20px;
    }
  </style>
<%- include ("../../views/_footer") %>