<%- include ("../../views/_header") %>
<h1>list information win25</h1>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/s611998025/new" class="btn btn-success"> เพิ่ม </a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>TANAWIN</th>
                            <th>KANNOI</th>
                            <th>D611998025</th>
                            <th>PONTAKORN</th>
                            <th>CHANGPAT</th>
                            <th>D611998030</th>
                            <th>แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].swin %> </td>
                                    <td> <%= data[i].skannoi %> </td>
                                    <td> <%= data[i].sD611998025%> </td>
                                    <td> <%= data[i].tford%> </td>
                                    <td> <%= data[i].tchangpat%> </td>
                                    <td> <%= data[i].tD611998030%> </td>
                                    <td> <a href="/s611998025/update/<%= data[i].ids%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/s611998025/delete/<%= data[i].ids%>" class="btn btn-danger"> ลบ </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        h1{
          position: relative;
          left: 35%;
          top: 30px;
        }
      </style>
    <%- include ("../../views/_footer") %>