<%- include ("../../views/_header") %>
<h1>update information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/s611998025/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        TANAWIN <input type="text"
                        name="win"
                        value="<%= data1.win %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        KANNOI <input type="text"
                        name="kannoi"
                        value="<%= data1.kannoi %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        D611998025 <input type="text"
                        name="D611998025"
                        value="<%= data1.D611998025 %>"
                        class="form-control">
                        </div>

                        TEACHER <select class ='form-control' name='id_pontakorn'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.id_pontakorn) { %> selected <% } %> >
                                <%= data2[i].ford %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/s611998025" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
    position: relative;
    left: 30%;
    top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
