<%- include ("../../views/_header") %>
<h1>add information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/s611998032/add/" method="POST">

                        <div class="form-group">
                        arm <input type="text"
                        name="arm"
                        value="<%= data.arm %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        mungrienthong <input type="text"
                        name="mungrienthong"
                        value="<%= data.mungrienthong %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        D611998032 <input type="text"
                        name="D611998032"
                        value="<%= data.D611998032 %>"
                        class="form-control">
                        </div>



                        TEACHER <select class ='form-control' name='id_tanawin'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data) { %>
                            <% for(var i=0; i<data.length; i++){ %>
                              <option value="<%= data[i].id %>">
                                <%= data[i].win %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/s611998032" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
  position: relative;
          left: 32%;
          top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
