<%- include ("../../views/_header") %>
<h1>delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998032/delete/<%= data.ids %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.ids%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>arm = <%= data.sarm%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>mungrienthong = <%= data.smungrienthong%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>D611998032 = <%= data.sD611998032%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>id_tanawin = <%= data.twin%></font></h3>
            </div>

            <a href="/s611998032" class="btn btn-primary"> กลับ </a>
            <a href="/s611998032/deleteNow/<%= data.ids%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
    position: relative;
            left: 35%;
            top: 20px;
    }
  </style>
<%- include ("../../views/_footer") %>
