<%- include ("../../views/_header") %>
<h1>list information arm32</h1>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/s611998032/new" class="btn btn-success"> เพิ่ม </a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>WITSHAYUT</th>
                            <th>MUNGRIENTHONG</th>
                            <th>D611998032</th>
                            <th>TANAWIN</th>
                            <th>KANNOI</th>
                            <th>D611998025</th>
                            <th>แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].sarm %> </td>
                                    <td> <%= data[i].smungrienthong %> </td>
                                    <td> <%= data[i].sD611998032%> </td>
                                    <td> <%= data[i].twin%> </td>
                                    <td> <%= data[i].tkannoi%> </td>
                                    <td> <%= data[i].tD611998025%> </td>
                                    <td> <a href="/s611998032/update/<%= data[i].ids%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/s611998032/delete/<%= data[i].ids%>" class="btn btn-danger"> ลบ </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        h1{
        position: relative;
                left: 35%;
                top: 20px;
        }
      </style>
    <%- include ("../../views/_footer") %>