<%- include ("../../views/_header") %>
<h1>ADD information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/s611998039/add/" method="POST">

                        <div class="form-group">
                        WUT <input type="text"
                        name="wut"
                        placeholder="611998039"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        SAEHAN <input type="text"
                        name="saehan"
                        placeholder="611998039"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        D611998039 <input type="text"
                        name="D611998039"
                        placeholder="611998039"
                        class="form-control">
                        </div>

                        ID_WITSHAYUT <select class ='form-control' name='id_witshayut'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data) { %>
                            <% for(var i=0; i<data.length; i++){ %>
                              <option value="<%= data[i].id %>">
                                <%= data[i].arm %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/s611998039" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
    h1{
          position: relative;
          left: 30%;
          top: 20px;
    }
</style>
<%- include ("../../views/_footer") %>
