<%- include ("../../views/_header") %>

<h1>Delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998039/delete/<%= data.ids %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.ids%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>WUT = <%= data.wwut%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>SAEHAN = <%= data.wsaehan%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>D11998039 = <%= data.wD611998039%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>ID_WITSHAYUT = <%= data.tarm%></font></h3>
            </div>

            <a href="/s611998039" class="btn btn-primary"> Back </a>
            <a href="/s611998039/deleteNow/<%= data.ids%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
          position: relative;
          left: 36%;
          top: 20px;
    }
</style>
<%- include ("../../views/_footer") %>
