<%- include ("../../views/_header") %>
<h1>List information wut39</h1>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <a href="/s611998039/new" class="btn btn-success"> เพิ่ม </a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Wut</th>
                            <th>Saehan</th>
                            <th>D611998039</th>
                            <th>Arm</th>
                            <th>Mungrienthong</th>
                            <th>D611998032</th>
                            <th>แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].wwut %> </td>
                                    <td> <%= data[i].wsaehan %> </td>
                                    <td> <%= data[i].wD611998039%> </td>
                                    <td> <%= data[i].tarm%> </td>
                                    <td> <%= data[i].tmungrienthong%> </td>
                                    <td> <%= data[i].tD611998032%> </td>
                                    <td> <a href="/s611998039/update/<%= data[i].ids%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/s611998039/delete/<%= data[i].ids%>" class="btn btn-danger"> ลบ </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>

                    </tbody>
                </table>
            </div>
                </div>
            </div>
            <style>
                h1{
                      position: relative;
                      left: 35%;
                      top: 20px;
                }
            </style>

        <%- include ("../../views/_footer") %>
