<%- include ("../../views/_header") %>
<h1>update information</h1>
<% JSON.stringify(data1) %>
<% JSON.stringify(data2) %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/s611998039/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        WUT <input type="text"
                        name="wut"
                        value="<%= data1.wut %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        SAEHAN <input type="text"
                        name="saehan"
                        value="<%= data1.saehan %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        D611998039 <input type="text"
                        name="D611998039"
                        value="<%= data1.D611998039 %>"
                        class="form-control">
                        </div>

                        ID_WITSHAYUT <select class ='form-control' name='id_witshayut'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.id_witshayut) { %> selected <% } %> >
                                <%= data2[i].arm %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/s611998039" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">Save</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
    h1{
          position: relative;
          left: 28%;
          top: 20px;
    }
</style>

<%- include ("../../views/_footer") %>
