

                <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Group3 </title>
    <link rel="stylesheet" href="/bootstrap.min.css" </head>

    <body>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/wut">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/s611998039"> WUT <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/s611998032"> ARMX <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/s611998025"> WINX <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/pontakorn"> FORD <span class="sr-only">(current)</span></a>

                    </li>

                    

                  </div>
                <a class="btn btn-danger" href="/logout">Logout</a>
    </div>
</nav>

         <% if(session.success==false){ %>
         <% for(var i=0;i<session.errors.errors.length;i++){ %>
         <div class="alert alert-danger" role="alert">
         <%= session.errors.errors[i]["msg"] %>
         </div>
         <%   } session.success=null; } %>

          <% if(session.success==true){ %>
           <div class="alert alert-success" role="alert">
             <%= session.topic %>
          </div>
        <%   } session.success=null;  %>
