<%- include("../views/_header") %>
<marquee direction="left" scrollamount="15"><h2>*-ฝากบอกไอบอยว่าอย่าแอ็ค-*</h2></marquee>
    <style>
        body {
            background-image: url('https://sites.google.com/site/pansahomklin/_/rsrc/1424142335610/faem-sasm-phl-ngan/ph/%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%20copy.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: auto;
            width: 50%;
        }
        marquee {
            position: relative;
            top: 20px;
        }
    </style>

    <div>
        <img src="https://www.freepngimg.com/thumb/welcome/26792-3-welcome-transparent-picture.png" alt="wel" class="center">
    </div>

    <%- include ( '../views/_footer.ejs') %>
