 <html>
<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
  <title>Login</title>
</head>
  <body>
    <form  action="/login" method="post">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header"><h2>Login</h2></div>
  <div class="card-body">
    <p>Username :<input type="text" name="username" value=""></p>
    <p>Password :<input type="password" name="password" value=""></p>
    <button type="submit" class="btn btn-primary btn-lg btn-block"> OK </button>
  </div>
</div>
    </form>
     <style>
       body {
          background-image: linear-gradient(130deg,#2ecc71,#27ae60);
       }
       form {
        position: absolute;
        left: 40%;
        top: 30%;
       }

     </style>
  </body>
</html>
