<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login Fail</title>
  </head>
  <body>
    <h1>Loginfail</h1>
      <div class="var">
        <a href="/">กลับไป Login ดีๆซะ!!!</a>
      </div>
      <img src="win.jpg" alt="" width="500" height="800">
      <img src="arrow.png" class="arrow" alt="" width="200" height="200">
      <style>
          *{
            text-decoration: none;
          }
        h1{
            position: relative;
            color: red;
            left: 50%;
            font-size: 50px;
        }
        div.var{
            position: absolute;
            font-size: 30px;
            border: 3px solid #73AD21;
            margin: 5px;
            padding: 15px;;
            left: 40%;
            bottom: 70%;
        }
        .arrow{
            position: absolute;
            bottom: 38%;
        }

      </style>
  </body>
</html>