<%- include ("../../views/_header") %>
<h1>Add Information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/pontakorn/add/" method="POST">
                        <div class="form-group">
                        Varchar <input type="text"
                        name="ford"
                        value="<%= data.ford %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        float <input type="text"
                        name="changpat"
                        value="<%= data.changpat %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Int <input type="text"
                        name="D611998030"
                        value="<%= data.D611998030 %>"
                        class="form-control">
                        </div>

                        TEACHER <select class ='form-control' name='id_wuttichai'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data) { %>
                            <% for(var i=0; i<data.length; i++){ %>
                              <option value="<%= data[i].id %>">
                                <%= data[i].wut %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/pontakorn" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
    position: relative;
          left: 30%;
          top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
