<%- include ("../../views/_header") %>
<h1>Delete information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <form action="/pontakorn/delete/<%= data.idp %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>ID = <%= data.idp%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>NAME = <%= data.pford%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>MOBLIE = <%= data.pchangpat%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>GPA = <%= data.pD611998030%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>WUTTICHAINAME = <%= data.wwut %></font></h3>
            </div>

            <a href="/pontakorn" class="btn btn-primary"> กลับ </a>
            <a href="/pontakorn/deleteNow/<%= data.idp%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>
<style>
    h1{
          position: relative;
          left: 35%;
          top: 20px;
    }
</style>
<%- include ("../../views/_footer") %>