<%- include ("../../views/_header") %>
<h1>List information ford30</h1>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="/pontakorn/new" class="btn btn-success"> เพิ่ม </a>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Ford</th>
                        <th>Changpat</th>
                        <th>D611998030</th>
                        <th>Wut</th>
                        <th>Saehan</th>
                        <th>D611998039</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                        <%  for(var i=0;i<data.length;i++){ %>
                            <tr>
                                <td> <%= (i+1) %> </td>
                                <td> <%= data[i].pford %> </td>
                                <td> <%= data[i].pchangpat %> </td>
                                <td> <%= data[i].pD611998030%> </td>
                                <td> <%= data[i].wwut%> </td>
                                <td> <%= data[i].wsaehan%> </td>
                                <td> <%= data[i].wD611998039%> </td>
                                <td> <a href="/pontakorn/update/<%= data[i].idp%>" class="btn btn-warning"> แก้ไข </a>
                                     <a href="/pontakorn/delete/<%= data[i].idp%>" class="btn btn-danger"> ลบ </a> </td>
                            </tr>
                        <%  } %>
                   <%  } %>
                </tbody>
            </table>
        </div>
            </div>
        </div>
        <style>
            h1{
                  position: relative;
                  left: 35%;
                  top: 20px;
            }
        </style>
        <%- include ("../../views/_footer") %>