<%- include ("../../views/_header") %>
<% JSON.stringify(data1) %>
<% JSON.stringify(data2) %>
<h1>Update information</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                        <form action="/pontakorn/update/<%= data1.id %>" method="POST">

                        <div class="form-group">
                        Ford <input type="text"
                        name="ford"
                        value="<%= data1.ford %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Changpat <input type="text"
                        name="changpat"
                        value="<%= data1.changpat %>"
                        class="form-control">
                        </div>

                        <div class="form-group">
                        D611998030 <input type="text"
                        name="D611998030"
                        value="<%= data1.D611998030 %>"
                        class="form-control">
                        </div>

                        TEACHER <select class ='form-control' name='id_wuttichai'>
                            <option value=""> กรุณาเรียก </option>
                            <% if(data2) { %>
                            <% for(var i=0; i<data2.length; i++){ %>
                              <option value="<%= data2[i].id %>"
                                <% if(data2[i].id==data1.id_wuttichai) { %> selected <% } %> >
                                <%= data2[i].wut %>
                                </option>
                            <%}%>
                          <%}%>
                          </select><br></br>

                        <a href="/pontakorn" class="btn btn-primary"> กลับ </a>
                        <button type="submit"
                        class="btn btn-success">submit</button>
                        </form>

                </div>
            </div>
        </div>
</div>
<style>
  h1{
  position: relative;
          left: 30%;
          top: 20px;
  }
</style>
<%- include ("../../views/_footer") %>
